.additional-goods__promo {
  background-image: url("../img/background/cat-catalog.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 289px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    margin-top: 0;
  }
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-goods__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 80px;
  }
}

.additional-goods__item:last-child {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-left: 80px;
  }
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    align-items: baseline;
  }
}

.additional-goods__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    padding: 20px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
