.additional-goods__promo {
  background-image: url("../img/background/cat-catalog.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  background-color: $basic-accent04;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 200px;
    margin-top: 69px;
    text-align: left;
    margin-bottom: 69px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    margin-top: 0;
    display: flex;
    text-align: center;
  }
}

.additional-goods__promo::before {
  content: "";
  background-image: url("../img/icon/icon-gift.svg");
  background-size: cover;
  width: 78px;
  height: 80px;
  display: inline-block;
  margin-top: 58px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 0;
  }
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $basic-light;
  display: inline-block;
  padding: 0 22px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.additional-goods__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

.additional-goods__item:last-child {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-left: 80px;
  }
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $basic-lighten-accent;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    align-items: baseline;
  }
}

.additional-goods__item:nth-child(4) {
  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $basic-lighten-accent;
  }
}

.additional-goods__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    padding: 5px 38px 28px 38px;
    border-left: 1px solid $basic-lighten-accent;
    border-right: 1px solid $basic-lighten-accent;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-left: none;
    border-right: none;
    align-items: center;
  }
}

.additional-goods__line {
  position: relative;
}

.additional-goods__line::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $basic-accent;
  z-index: -1;
  top: 15px;

  @media (min-width: $tablet-width) {
    top: 20px;
  }
}
