.advantages__wrapper {
  width: 280px;
  margin-left: 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  width: 200px;
  color: $basic-darkest-accent;
}

.advantages__list {
  @include reset-list;
}
