.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  color: $basic-darkest-accent;
}

.advantages__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
