.button {
  display: block;
  width: 280px;
  height: 30px;
  padding-top: 10px;
  background-color: $basic-accent;
  font-size: 16px;
  line-height: 20px;
  color: $basic-light;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: $main-accent;
}

.button:focus {
  background-color: $main-accent;
}

.button:active {
  color: $basic-light03;
}
