.cat-data {
  color: $basic-darkest-accent;
}

.cat-data__list {
  @include reset-list;
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 22px;
  }
}

.cat-data__item input::placeholder {
  color: $basic-darkest-accent;
  opacity: 1;
}
