.cat-data {
  color: $basic-darkest-accent;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.cat-data__list {
  @include reset-list;
}

.cat-data__item {
  padding-bottom: 20px;
}

.cat-data__item input::placeholder {
  color: $basic-darkest-accent;
  opacity: 1;
}
