.cat-program {
  color: $special-dark;
  border-top: 1px solid $basic-light-accent;
  border-bottom: 1px solid $basic-light-accent;
  margin: 0 -20px;
  padding: 22px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
    margin: 0;
    border: 1px solid $basic-light-accent;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 30px 25px 30px;
  }
}

.cat-program__list {
  @include reset-list;
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 13px;
  }
}

.cat-program__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $basic-lighten-accent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.cat-program__label:hover::before {
  border: 1px solid $basic-dark-accent;
}

.cat-program__input:checked + .cat-program__label::before {
  background-image: url("../img/icon/icon-radiobutton.svg");
  background-size: 14px 14px;

  @media (min-width: $tablet-width) {
    background-size: 18px 18px;
  }
}

.cat-program__input:disabled + .cat-program__label {
  opacity: 30%;
}
