.contact-owner {
  color: $basic-darkest-accent;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.contact-owner__input {
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}

.contact-owner__list {
  @include reset-list;
  display: grid;
  row-gap: 14px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
    margin-top: 52px;
  }
}

.contact-owner__item {
  @media (min-width: $desktop-width) {
    flex-basis: 568px;
  }
}

.contact-owner__item input::placeholder {
  color: $basic-darkest-accent;
  opacity: 1;
}

.contact-owner__icon {
  position: absolute;
  right: 16px;
}

.form__input:focus + .contact-owner__icon--mail path {
  stroke: $basic-accent;
}

.form__input:focus + .contact-owner__icon--mail line {
  stroke: $basic-accent;
}

.form__input:focus + .contact-owner__icon--phone path {
  fill: $basic-accent;
}

.form__input--error + .contact-owner__icon--phone path {
  fill: $accent-error;
}

.form__input--error + .contact-owner__icon--mail path {
  stroke: $accent-error;
}

.form__input--error + .contact-owner__icon--mail line {
  stroke: $accent-error;
}
