.contact-owner {
  color: $basic-darkest-accent;
}

.contact-owner__list {
  @include reset-list;
}

.contact-owner__item {
  padding-bottom: 20px;
}

.contact-owner__item input::placeholder {
  color: $basic-darkest-accent;
  opacity: 1;
}
