.contacts__title {
  color: $special-darken;
  font-weight: 400;
  width: 140px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.contacts__text {
  @include arial(14px, 20px);
  color: $basic-darkest-accent;
  width: 140px;
  display: inline-block;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    background-color: $basic-light;
    width: 430px;
    height: 135px;
    top: 95px;
    padding-top: 66px;
    margin: 0 110px;
  }
}
