.example {
  background-color: $main-lighten;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.example__text {
  font-family: "Arial", sans-serif;
  color: $basic-darkest-accent;
}

.example__spending {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__img-wrapper {
  position: relative;
  height: 240px;
}

.example__img--after {
  position: absolute;
  width: 251px;
  height: 240px;
}

.example__img--before {
  position: absolute;
  width: 311px;
  height: 232px;
}

.example__switch-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
