.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-basis: 568px;
  }
}

.form__label,
.form__input {
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input::placeholder {
  @include oswald-regular;
  color: $basic-darkest-accent;
  opacity: 1;
}

.form__input {
  margin-left: 12px;
  padding: 13px 15px;
  outline: 1px solid $main-light-accent;
  border: none;
  cursor: text;

  @media (min-width: $tablet-width) {
    padding: 10px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    margin-left: 16px;
  }
}

.form__input:hover {
  outline: 1px solid $basic-lighten-accent;
}

.form__input:focus {
  outline: 2px solid $basic-darkest-accent;
}

.form__input--error {
  border: 2px solid $accent-error;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0 20px;
  display: inline-block;
  margin-left: -20px;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 20px;
    margin-left: -40px;
  }
}

.form__title--indent {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__line {
  position: relative;
}

.form__line::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $basic-accent;
  z-index: -1;
  top: 15px;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.form__legend {
  @include arial (14px, 16px);
  text-align: center;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    font-size: 16px;
    display: inline-block;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.form__button {
  border-style: none;
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  padding: 0;
  background-color: $basic-accent;
  color: $basic-light;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;

  @include oswald-regular;

  @media (min-width: $tablet-width) {
    width: 282px;
    font-size: 20px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form {
  padding-top: 39px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.form__container {
  display: grid;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    row-gap: 72px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
    padding-bottom: 68px;
  }
}

.form__comment {
  margin-top: -15px;
}
