.form__fieldset {
  border-style: none;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__label,
.form__input {
  text-transform: uppercase;
  font-size: 16px;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  padding: 25px 0;
}

.form__legend {
  line-height: 16px;
}
