.location {
  background-image: url("../img/background/location-mobile@1x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/location-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/location-tablet@1x.png");
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/location-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/location-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/location-desktop@2x.png");
    }
  }
}

.location__map {
  width: 100%;
  height: 100%;
}
