.main-goods__list {
  @include reset-list;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 60px;
    row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-bottom: 70px;
  }
}

.main-goods__item {
  flex-basis: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  border-top: 1px solid $main-light;
  margin: 0 -20px;
  padding: 18px 20px 25px;

  @media (min-width: $tablet-width) {
    flex-basis: 35%;
    position: relative;
    margin: 0;
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 50px;
    padding-top: 161px;
    background-color: $main-lighten-accent;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 14%;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 46px;
    margin-right: 80px;
  }
}

.main-goods__item:nth-child(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
