.main-nav {
  @include oswald-medium;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  position: relative;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    @include oswald-regular;
    line-height: 24px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
    font-size: 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}

.main-nav__toggle {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: $basic-light;
  position: absolute;
  top: -44px;
  right: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic-darkest;
  box-shadow: 0 8px 0 0, 0 16px 0 0;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic-darkest;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .site-list__item {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
