.page-footer__main {
  background-color: $main-lighten-accent;
}

.page-footer__main-logo {
  border-bottom: 1px solid $basic-light-accent;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__social {
  border-bottom: 1px solid $basic-light-accent;
  padding: 18px 0;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 25px;
  }
}

.page-footer__wrapper--form {
  background-color: $main-lighten-accent;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    position: relative;
  }
}

.page-footer__copyright {
  padding: 22px 0;
}

.page-footer__contacts--accent {
  background-color: $main-lighten-accent;

  @media (min-width: $desktop-width) {
    background-color: $basic-light;
  }
}
