.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px auto;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px 0 30px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 54px 0 25px 0;
  }
}

.page-header__wrapper-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 3;
  align-items: center;
}

.page-header__wrapper-logo:hover img {
  opacity: 80%;
}

.page-header__wrapper-logo:active img {
  opacity: 60%;
}
