.page-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 40px;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    padding-top: 44px;
  }
}
