.page-header__logo--tablet {
  display: none;
}

.page-header__logo--desktop {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo--tablet {
    display: block;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__logo--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo--desktop {
    display: block;
  }

  .page-header__logo--tablet {
    display: none;
  }
}
