.preview {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.preview__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.preview__desc {
  font-family: "Arial", sans-serif;
  color: $basic-darkest-accent;
  width: 240px;

  @media (min-width: $tablet-width) {
    min-width: 400px;
  }
}

.preview__link {
  font-size: 16px;
  line-height: 16px;
  color: $basic-darkest;
}

.preview__wrapper {
  background-color: $main-lighten-accent;
  width: 240px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}
