.preview {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.preview__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.preview__description {
  @include arial(14px, 18px);
  color: $basic-darkest-accent;

  @media (min-width: $tablet-width) {
    min-width: 400px;

    @include arial(16px, 24px);
  }
}

.preview__link {
  font-size: 16px;
  line-height: 16px;
  color: $basic-darkest;
}

.preview__wrapper {
  background-color: $main-lighten-accent;
  width: auto;
  padding: 0 20px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 52px;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0 110px;
  }
}
