.product__more-link {
  background-color: $main-lighten-accent;
  color: $basic-darkest-accent;
  width: 100%;
  grid-row: 4 / 5;
  grid-column: 1 / -1;
}

.product__more-link:hover {
  background-color: $main-light;
  color: $basic-darkest-accent;
}

.product__more-link:focus {
  background-color: $main-light;
  color: $basic-darkest-accent;
}

.product__more-link:active {
  color: $basic-darkest-accent03;
}

.product-more::before {
  content: "";
  background-image: url("../img/icon/icon-plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    align-self: center;
  }
}

.product-more {
  border-bottom: 1px solid $main-light;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $basic-light;
    border: 2px solid $main-lighten-accent;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 0;
    padding-top: 20px;
  }
}
