.product-more .product__title {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.product-more .product__info {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.product-more .product__more-link {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
}
