.promo {
  color: $basic-light;
  text-align: center;
  background-image: url("../img/background/cat-mask.png"), url("../img/background/cat-index-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px, auto;
  background-position-x: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/cat-mask.png"), url("../img/background/cat-index-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $basic-darkest;
  }
}

@media (min-width: $desktop-width) {
  .promo::before {
    content: "";
    background-image: url("../img/background/cat-index-desktop.png");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 720px;
    height: 694px;
    top: 0;
    right: 0;
    z-index: -2;
  }

  .promo::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    background-color: $basic-accent04;
    top: 0;
    right: 0;
    z-index: -2;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 41px 0 49px 0;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  display: block;
  min-width: 280px;
  height: 30px;
  padding-top: 10px;
  background-color: $basic-accent;
  color: $basic-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 39px;
    padding-top: 15px;
  }
}

.promo__button:hover {
  background-color: $main-accent;
}

.promo__button:active {
  color: $basic-light03;
}

.promo__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px;
  }
}

.promo__img {
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .promo__img {
    position: absolute;
    z-index: -1;
    top: 250px;
  }
}

@media (min-width: $desktop-width) {
  .promo__img {
    top: 100px;
    left: 600px;
  }
}
