.result__wrapper p {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
}

.result__quantity {
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $basic-lighten-accent;
  border-radius: 3px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__value {
  @include arial(12px, 12px);
  display: inline-block;
  color: $basic-darkest-accent;
  text-transform: lowercase;
  width: 80px;
  background-color: $main-lighten;
  position: absolute;
  top: 50px;
  left: 22px;
  padding-top: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include arial(14px, 14px);
    background-color: $basic-light;
    width: 142px;
    top: 62px;
    left: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-lighten;
  }
}

@media (min-width: $tablet-width) {
  .result__wrapper:first-child .result__value {
    width: 114px;
    left: 24px;
  }
}

.result__wrapper {
  width: 124px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.result__wrapper:first-child {
  padding-right: 31px;

  @media (min-width: $tablet-width) {
    padding-right: 42px;
  }
}
