.selection__subtitle {
  text-transform: uppercase;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 30px;
    padding-top: 54px;
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
