.site-list {
  @include reset-list;
}

.site-list__item {
  padding: 24px 0;
  border-top: 1px solid $special-light-accent;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 10px;
  }
}

.site-list__item a {
  color: $basic-darkest;
}

@media (min-width: $tablet-width) {
  .site-list__item a:hover {
    color: $basic-darkest06;
  }

  .site-list__item a:active {
    color: $basic-darkest03;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: $basic-accent;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--inversion a {
    color: $basic-light;
  }

  .site-list__item--inversion a:hover {
    color: $basic-light06;
  }

  .site-list__item--inversion a:active {
    color: $basic-light03;
  }

  .site-list__item--active::after {
    background: $basic-light;
  }
}
