img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  @include oswald-regular;
  font-size: 14px;
  line-height: 18px;
  color: $basic-darkest;
  background-color: $basic-light;
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
