// Colors

$basic-darkest: #000000;
$basic-darkest03: rgba(0, 0, 0, 0.3);
$basic-darkest06: rgba(0, 0, 0, 0.6);
$special-darken: #111111;
$special-darken06: rgba(17, 17, 17, 0.6);
$special-darken08: rgba(17, 17, 17, 0.8);
$special-dark: #222222;
$special-dark03: rgba(34, 34, 34, 0.3);

$basic-darkest-accent: #444444;
$basic-darkest-accent03: rgba(68, 68, 68, 0.3);
$basic-darken-accent: #666666;
$basic-dark-accent: #bababa;
$basic-dark-accent03: rgba(186, 186, 186, 0.3);
$basic-lighten-accent: #cdcdcd;
$basic-light-accent: #d9d9d9;
$basic-lighten: #d3d3d3;
$main-light: #ebebeb;
$main-lighten: #eaeaea;
$main-light-accent: #e7e7e7;
$main-lighten-accent: #f2f2f2;

$basic-light: #ffffff;
$basic-light03: rgba(255, 255, 255, 0.3);
$basic-light06: rgba(255, 255, 255, 0.6);

$basic-accent: #68b738;
$basic-accent03: rgba(104, 183, 56, 0.3);
$main-accent: #5eaa2f;

$accent-error: #ff8282;

// Fonts

@mixin oswald-regular {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin oswald-medium {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin arial ($font-size, $line-height) {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

// Styles

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
